@import "../../global/styles/variables.module";

body {
  margin: 0;
  padding: 0;
}
.notFound {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #ff00b8 0%, #ff655b 50.8%, #ffc700 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .notFound404 {
    font-size:4rem;
    color: $white;
  }
  .notFoundText {
    font-family: Red $poppins;
    color: $white;
    text-align: center;
  }
  .backToHome {
    text-decoration: none;
    font-family: Red $poppins;
    color: $white;
    font-size: 1.5rem;
    transition: 150ms ease-in-out;
    background: rgba(24, 21, 21, 0.4);
    padding: 12px 20px;
    margin-top: 1.6rem;
  }
  .backToHome:hover {
    background: rgba(24, 21, 21, 0.6);
  }
}
